active-color = #46a0fc
border-color = #e8e8e8
shadow-color = rgba(150, 150, 150, 0.2)
padding-vertical = 5px
contextmenu-item-padding-horizonal = 14px

active-color-bright = #ef5350
active-color-dark = #2d3035

@import "./iconfont.styl"
@import "./contextmenu.styl"
