.@{vc-prefix}-enter-active {
  transition: opacity 0.3s ease-out;
}

.@{vc-prefix}-leave-active {
  transition: opacity 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.@{vc-prefix}-enter-from,
.@{vc-prefix}-leave-to {
  opacity: 0;
}
