@vc-prefix: v-contextmenu;

@vc-z-index: 2020;

@vc-active-color: #46a0fc;
@vc-border-color: #e8e8e8;
@vc-shadow-color: rgba(150, 150, 150, 0.2);

@vc-padding-vertical: 5px;
@vc-item-padding-horizontal: 14px;
