html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

#app {
  max-width: 1000px;
  margin: 0 auto;
}

.description {
  display: flex;
  align-items: center;

  .gh-star {
    margin-left: 8px;
  }
}

