@primary: #46a0fc;

html {
  height: 100%;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  height: 100%;
  color: #333;
  font-size: 16px;
  line-height: 1;
}

#app {
  margin: 0 auto;
  height: 100%;
}

button {
  border: none;
  font-size: inherit;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  min-width: 500px;
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  margin: auto;
}
